.post{
    border: 1px red solid;
    width: 900px;
}
.nickname{
    font-weight: bold;
    text-align: left;
    
    background-color: #FFEBCD;

}
.msg{
    padding: 0px 0px 20px 0px;
    text-align: left;
    
}